.footer {
  padding: 5rem;

  background-image: url(/upload/img/gallery/sesh.jpg);
  @extend %bg;
  background-position: 40% 30% ;
  @include mq-lg{
    background-image: url(/upload/img/gallery/sesh.jpg);
    padding: 8rem;
    
  }

  @include mq-lg{
    background-image: url(/upload/img/gallery/sesh.jpg);
    
    
  }

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-style: italic;
    font-size: 0.5rem;
    font-family: "Pacifico", cursive;

    @include mq-s {
      font-size: fs(xxs);
    }
    &_img {
      width: 4rem;
      height: 4rem;
      margin-top: 0.5rem;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    & span {
      text-shadow: 0.2rem 0.2rem 0.2rem var(--color-tertiary-m);
    }
  }
}
